<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.psicode.aware_mood_sensor" >
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:theme, android:icon" >
        <activity
            android:name="com.psicode.aware_mood_sensor.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.psicode.aware_mood_sensor.GlobalAccel$Labeler" >
            <intent-filter>
                <action android:name="LinearAccelerometer.ACTION_AWARE_LINEAR_LABEL" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.psicode.aware_mood_sensor.GlobalAccelProvider"
            android:authorities="com.aware.sensor.global_accelerometer"
            android:enabled="true"
            android:exported="true" >
        </provider>

    </application>

</manifest>
